@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Biryani:wght@200&family=Laila&display=swap');
/* font-family: 'Alegreya Sans', sans-serif;
font-family: 'Biryani', sans-serif;
font-family: 'Laila', sans-serif; */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* NavBar */
nav{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
a{
    color: #EEF1EF !important;
    font-family: "Biryani", sans-serif;
    font-size: 18px !important;
}
ul{
    width: 100%;
    flex-direction:end;
}
.nav-links{
    justify-content:end ;
}

.nav-item{
    margin: 4px;
    padding: 0% !important;
}
.nav-item:hover{
    border-bottom: 2px solid #fff ;
    border-radius: 5px ;
    /* box-shadow:  3px 1px 6px #ff0000; */ 
}

/* header */
header{
    width: 100%;
    height: 100vh;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
p{
    color: #EEF1EF;
}
.content{
    padding-top: 120px;
    display: flex;
    align-items: center; 
    flex-direction: column;
}
.content h1{
    font-family: "Alegreya Sans", sans-serif;
    font-size:120px ;
    color: #fff;
    font-weight: 600;
    transition: 1s;
}
.content a{
    text-decoration:none;
    display: inline-block;
    color: #EEF1EF !important;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 40px;
    margin-top: 24px;
}
.content h1:hover{
    -webkit-text-stroke: 2px #EEF1EF;
    color: transparent;
}

/* Responsive header */
@media (min-aspect-ratio:16/9) {
    .back-video{
        width: 100%;
        height: auto;   
    }
}
@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}
@media (max-width: 480px){
    .content h1{
        font-size: 60px;
    }
    .content{
        padding-top: 170px;
    }
    .content a{
        border-radius:40px ;
        padding:10px ;
    }
}
@media (max-width: 768px){
    .content h1{
        font-size: 100px;
        padding-top: 140px;
    }
    
}