*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: #C297B8;
}
/* Section-about me */
.about-me{
    padding-top: 20px ;
    /* background: black;    background: linear-gradient(90deg, rgba(0,19,36,1) 0%, rgba(68,69,130,1) 33%, rgba(63,61,142,1) 63%, rgba(63,61,141,1) 71%); */
    height: 50vh;
    display: flex;
    justify-content: center;
}

.stack-skill{
    display: flex;
}
.btn-cv{
    text-decoration: none;
    box-shadow: 0 0 10px #5051a1;
    border-radius: 15px;
    padding: 7px;
    
}
.text-cv:hover{
    color: #adadbb;
}
.text-cv{
    font-size:12px ;
}
/*Section-Skills */
.img-skills{
    width: 100px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
}
.img-skills:hover{
    -webkit-box-shadow: -4px 13px 32px -11px rgba(0,0,0,.3);
    box-shadow: -4px 13px 32px -11px rgba(0,0,0,.3);
}
ul{
    /* display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0%;
    padding: 0%; */
}

.skills{
    justify-content:center ;

}
.stack-skill ul{
    display: flex;
    /* border: 2px solid wheat; */
    justify-content: center;
    height: 50vh;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}


.p-items{
    text-align: center;
    font-size: 17px;
    font-family: "Laila",sans-serif;
    font-weight: 300;
}
/* Projects-cards*/
.card {
    width: 190px;
    height: 274px;
    background: white;
    padding: .4em;
    border-radius: 6px;
  }
  
  .card-image {
    background-image: url(../img/chrome_v0cul3yyZp.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }
/* Media Query */
@media screen and (max-width:320px) {
    /* .stack-items{
        padding:0;
        margin: 5px;
        display: block;
    } */
    .img-skills{
        width: 70px;
    }
    .skills{
        height: 80vh;
        margin-top: 100px;
    }
}
