*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background-color: #C297B8;
}
/* Section-about me */
.about-me{
    padding-top: 20px ;
    /* background: black;    background: linear-gradient(90deg, rgba(0,19,36,1) 0%, rgba(68,69,130,1) 33%, rgba(63,61,142,1) 63%, rgba(63,61,141,1) 71%); */
    height: 50vh;
    display: flex;
    justify-content: center;
}

.stack-skill{
    display: flex;
}
.btn-cv{
    text-decoration: none;
    box-shadow: 0 0 10px #5051a1;
    border-radius: 15px;
    padding: 7px;
    
}
.text-cv:hover{
    color: #adadbb;
}
.text-cv{
    font-size:12px ;
}
/*Section-Skills */
.img-skills{
    width: 100px;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    margin: 10px;
}
.img-skills:hover{
    -webkit-box-shadow: -4px 13px 32px -11px rgba(0,0,0,.3);
    box-shadow: -4px 13px 32px -11px rgba(0,0,0,.3);
}
ul{
    /* display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0%;
    padding: 0%; */
}

.skills{
    justify-content:center ;

}
.stack-skill ul{
    display: flex;
    /* border: 2px solid wheat; */
    justify-content: center;
    height: 50vh;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}


.p-items{
    text-align: center;
    font-size: 17px;
    font-family: "Laila",sans-serif;
    font-weight: 300;
}
/* Projects-cards*/
.project{
    height: 100%;
}
 .card-body{
    background-color: #1f7c7c !important; 
}
.card-title{
    text-align: center;
    color: #000000;
}
.fa-brands,.fa-solid {
    border-radius: 40px;
    padding: 5px;
    margin: 10px;
    color: #000000;
}
.fa-brands:hover{
    color: #363885;
    box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.3);
}
.fa-solid:hover{
    color: #363885;
    box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.5);
}
/* Media Query */
@media screen and (max-width:320px) {
    /* .stack-items{
        padding:0;
        margin: 5px;
        display: block;
    } */
    .img-skills{
        width: 70px;
    }
    .skills{
        height: 80vh;
        margin-top: 100px;
    }
}
